body {
    margin: 0;
    font-family: 'Domine', serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background: #344360;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-height: 1600px;
    margin: 0 auto;
}

.intro {
    width: 100%;
    height: 100vh;
    
    
    background-size: cover;
}

.header {
    width: 100%;
    padding-top: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
    color: #fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #b4a241;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity 0.2s linear;
}

.nav__link:hover {
    color: #b4a241;
}

.vvverh {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    
    color: #fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.vvverh:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    
    background-color: #b4a241;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity 0.2s linear;
}

.vvverh:hover {
    color: #b4a241;
}

.vvverh:hover:after {
    opacity: 1;
}

.nav__link1 {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
    color: #b4a241;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0px;
    
    text-align: left;
    color: #fff;
}

.oblogka {
    width: 100%;
    max-width: 1256px;
    max-height: 700px;
    margin: 0 auto 40px;
    
    text-align: left;
    color: #fff;
}

.section__header1_1 {
    width: 100%;
    width: 711px;
    height: 345px;
    margin: 0;
    
    color: #fff;
    position: absolute;
}

.oblogka_title {
    font-family: 'Domine', serif;
    font-size: 16px;
    font-weight: bold;
    font-size: 100px;
    line-height: 115px;
    animation: iznizu 2s ease;
}

.poloska {
    margin: -15px 0 0 auto;
    position: absolute;
    animation: iznizu 2s ease;
}

.strelki {
    margin: 70px 0 0px auto;
    position: absolute;
    animation-name: gifka;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes gifka {
    0%{
        margin: 70px 0 0px auto;
    }
    100%{
        margin: 80px 0 0px auto;
    }
}

.section__header1_2 {
    width: 100%;
    width: 683px;
    height: 621px;
    left: 573px;
    position: relative;
}

.gogol {
    margin: 0px 0px 0px 208px;
    position: absolute;
}

.stickers {
    margin: 240px 0px 0px 0;
    position: absolute;
    animation: iznizu 3s ease;
}

.mazukalka {
    margin: -10px 0px 0px 475px;
    position: absolute;
}

.section__text1 {
    width: 1092px;
    height: 420px;
    margin: 134px auto;
}

.section__text2 {
    width: 1092px;
    height: 588px;
    margin: 150px auto;
}

.section__text3 {
    width: 1092px;
    height: 168px;
    margin: 150px auto;
}

.section__text4 {
    width: 1092px;
    height: 492px;
    margin: 150px auto;
}

.section__text1_1 {
    width: 100%;
    width: 263px;
    margin: 0;
    
    color: #fff;
    position: absolute;
}

.section__text1_2 {
    width: 100%;
    width: 830px;
    left: 263px;
    top: 30px;
    
    color: #fff;
    position: relative;
}


.section__suptitle {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.section__suptitle:before {
    content: "";
    display: block;
    width: 62px;
    height: 3px;
    margin: 25px 0 0 0;
    
    background-color: #b4a241;
}

.text222 {
    margin-top: 0em; /* Отступ сверху */
    margin-bottom: 0px; /* Отступ снизу */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
    line-height: 28px;
}

.text2222 {
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 0px; /* Отступ снизу */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
    line-height: 28px;
}


@keyframes proivlenie {
    0%{
        color: #344360;
    }
    33%{
        color: #344360;
    }
    66%{
        color: #344360;
    }
}

@keyframes iznizu {
  from {
    transform: translate3d(0, 75px, 0)
    }
  to {
    transform: none;
    }
}

@keyframes sprava__cartinki {
  from {
    transform: translate3d(50px, 0, 0)
    }
  to {
    transform: none;
    }
}

@keyframes iznizu__vstavki {
  from {
    transform: translate3d(0, 50px, 0)
    }
  to {
    transform: none;
    }
}

@keyframes proivlenie__vstavki {
    0%{
        color: #344360;
    }
    33%{
        color: #344360;
    }
}

@keyframes svverhu__vstavki {
  from {
    transform: translate3d(0, -50px, 0)
    }
  to {
    transform: none;
    }
}

.leftimg {
    float: left; /* Выравнивание по левому краю */
    margin: 0px 10px 10px 0; /* Отступы вокруг картинки */
}

.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

.card-photo {
    margin-left: 30px;
}

/* About */
.about {
    margin-top: 45px;
    display: flex;
}
.about2 {
    margin-top: 900px;
    margin-left: 400px;
}


.about__item {
    width: 220px;
    position: relative;

    background-color: #d8c57f;
}

.about__item:hover .about__img {
    transform: translate3d(-8px, 0, 0);
}

.about__item:hover .about__img img {
    opacity: 0.1;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom, #655722, #423812);

    transition: transform 0.2s linear;
}

.about__img img {
    display: block;
    transition: opacity 0.1s linear;
}

.about__text {
    width: 100%;

    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(-8px, -50%, 0);

    transition: opacity 0.2s linear;
}
.block  {
    width: 530px;
    margin: 30px auto;
    animation: iznizu 2s ease;
    
    background-color: #344360 
}

.chichicov__section__header {
    width: 100%;
    max-width: 1200px;
    margin: 75px auto 0px;
    
    text-align: left;
    color: #fff;
}

.chichicov__oblogka {
    width: 100%;
    max-width: 1159px;
    max-height: 621px;
    margin: 0 auto 40px;
    
    text-align: left;
    color: #fff;
}

.chichicov__section__header1_1 {
    width: 100%;
    width: 678px;
    height: 758px;
    margin: 0;
    
    color: #fff;
    position: absolute;
}

.chichicov__oblogka_title {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 100px;
    margin: 50px 0 0 86px;
    animation: proivlenie__vstavki 2s ease;
}

.vstavka1 {
    margin: 0px 0 0 91px;
    position: absolute;
    animation: svverhu__vstavki 2s ease;
}
.vstavka2 {
    margin: 0px 0 0 91px;
    position: absolute;
    animation: iznizu__vstavki 2s ease;
}

.chichicov__oblogka_quote {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 35px;
    margin: 120px 0 0 0px;
    line-height: 35px;
    text-align: center;
    font-style: italic;
}

.dws1 {
    width: 100%;
    width: 552px;
    height: 50px;
    margin: 83px 0 0 40px;
}

.butt2 {
    margin: 0 0 0 207px;
}

.butt3 {
    margin: 0 0 0 414px;
}

.butt4 {
    margin: 0 0 0px 95px;
}

.butt5 {
    margin: 0 0 0px 318px;
}

.dws2 {
    width: 100%;
    width: 552px;
    height: 50px;
    margin: 20px 0 0 40px;
}

.butt {
    border: 2px solid #B0A150;
    border-radius: 38px;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    width: 176px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    transition: 0.5s;
    overflow: hidden;
}

.butt::before,
.butt::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #B0A150;
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.3s;
    z-index: -1;
}

.butt::after {
    opacity: 1;
    transition-delay: .2s;
}

.butt:hover {
    color: #344360;
}

.butt:hover::before,
.butt:hover::after {
    left: 0;
}

.butt_2 {
    border: 2px solid #B0A150;
    border-radius: 38px;
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    width: 140px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    transition: 0.5s;
    overflow: hidden;
}

.butt_2::before,
.butt_2::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #B0A150;
    top: 0;
    left: -100%;
    opacity: 0.5;
    transition: 0.3s;
    z-index: -1;
}

.butt_2::after {
    opacity: 1;
    transition-delay: .2s;
}

.butt_2:hover {
    color: #344360;
}

.butt_2:hover::before,
.butt_2:hover::after {
    left: 0;
}

.chichicov__section__header1_2 {
    width: 100%;
    width: 515px;
    height: 621px;
    left: 678px;
    top: 20px;
    position: relative;
    animation: sprava__cartinki 2s ease;
}

.chichicov__section__text1 {
    width: 1092px;
    height: 344px;
    margin: 138px auto;
}

.chichicov__section__text2 {
    width: 1092px;
    height: 196px;
    margin: 150px auto;
}

.chichicov__section__text3 {
    width: 1092px;
    height: 364px;
    margin: 150px auto;
}

.chichicov__section__text4 {
    width: 1092px;
    height: 336px;
    margin: 150px auto;
}

.chichicov__section__text5 {
    width: 1092px;
    height: 184px;
    margin: 150px auto;
}

.chichicov__section__cartinki {
    width: 1092px;
    height: 358px;
    margin: 150px auto;
}

.chichicov__section__text1_1 {
    width: 100%;
    width: 263px;
    margin: 0;
    
    color: #fff;
    position: absolute;
}

.chichicov__section__text1_2 {
    width: 100%;
    width: 830px;
    left: 263px;
    top: 30px;
    
    color: #fff;
    position: relative;
}


.chichicov__section__suptitle {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.chichicov__section__suptitle:before {
    content: "";
    display: block;
    width: 62px;
    height: 3px;
    margin: 25px 0 0 0;
    
    background-color: #b4a241;
}

.brichka {
    margin: 66px 0px 0px 93px;
    position: absolute;
}

.brichka__text {
    margin: 0px 0px 0px 0px;
    position: absolute;
    transition: all 0.5s ease;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
}

.stikers__brichka {
    margin: 115px 0px 20px 608px;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

.sobakevich {
    width: 533px;
    height: 660px;
}

.chichikov {
    width: 484px;
    height: 630px;
}

.sobakevich__oblogka_title {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 100px;
    margin: 50px 0 0 15px;
    animation: proivlenie__vstavki 2s ease;
}

.sobakevich__section__text1 {
    width: 1092px;
    height: 476px;
    margin: 138px auto -20px auto;
}

.sobakevich__section__text2 {
    width: 1092px;
    height: 112px;
    margin: 120px auto;
}

.sobakevich__section__text3 {
    width: 1092px;
    height: 336px;
    margin: 130px auto -30px auto;
}

.sobakevich__section__text4 {
    width: 1092px;
    height: 112px;
    margin: 130px auto;
}

.sobakevich__room__image {
    position: relative;
	width: 100%;
    width: 1092px;
    height: 830px;
    margin: -50px auto;
}

.sobakevich__room {
    width: 1038px;
    height: 770px;
    margin: 25px 0px 0px 25px;
}

.sobakevich__room__text {
    position: absolute;
    top: 200px;
    left: 40px; 
}

.tooltip1 {
    position: absolute;
    top: 181px;
    left: 727px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip1 .tooltiptext1::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
    opacity: 1;
}

.tooltip2 {
    position: absolute;
    top: 427px;
    left: 794px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
    opacity: 1;
}

.tooltip3 {
    position: absolute;
    top: 355px;
    left: 661px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip3 .tooltiptext3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip3:hover .tooltiptext3 {
    visibility: visible;
    opacity: 1;
}

.chichicov__section__suptitle__sobakevich {
    position: absolute;
    margin: -71px 515px auto;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.chichicov__section__suptitle__sobakevich:before {
    content: "";
    display: block;
    width: 160px;
    height: 3px;
    margin: 25px 0 0 0;
    
    background-color: #b4a241;
}

.arrowUp {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 70px;
    height: 70px;
    background: linear-gradient(130deg, #b4a241 50%, #344360 50%);
    -webkit-background-size: 300%;
    background-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;
    border-radius: 20px;
    transition: .5s;
}

.arrowUp:hover {
  background-position: 100% 0;
}

.manilov {
    width: 460px;
    height: 600px;
}

.manilov__oblogka_title {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 100px;
    margin: 50px 0 0 75px;
    animation: proivlenie__vstavki 2s ease;
}

.manilov__section__text1 {
    width: 1092px;
    height: 425px;
    margin: 138px auto -20px auto;
}

.manilov__section__text2 {
    width: 1092px;
    height: 84px;
    margin: 120px auto;
}

.manilov__section__text3 {
    width: 1092px;
    height: 140px;
    margin: 130px auto -30px auto;
}

.manilov__section__text4 {
    width: 1092px;
    height: 196px;
    margin: 130px auto;
}

.manilov__room__image {
    position: relative;
	width: 100%;
    width: 1092px;
    height: 830px;
    margin: -50px auto;
}

.manilov__room {
    width: 1028px;
    height: 770px;
    margin: 25px 0px 0px 23px;
}

.manilov__room__text {
    position: absolute;
    top: 200px;
    left: 40px; 
}

.tooltip7 {
    position: absolute;
    top: 488px;
    left: 441px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip7 .tooltiptext7 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip7 .tooltiptext7::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip7:hover .tooltiptext7 {
    visibility: visible;
    opacity: 1;
}

.tooltip8 {
    position: absolute;
    top: 488px;
    left: 839px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip8 .tooltiptext8 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip8 .tooltiptext8::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip8:hover .tooltiptext8 {
    visibility: visible;
    opacity: 1;
}

.tooltip9 {
    position: absolute;
    top: 507px;
    left: 324px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip9 .tooltiptext9 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip9 .tooltiptext9::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip9:hover .tooltiptext9 {
    visibility: visible;
    opacity: 1;
}

.tooltip10 {
    position: absolute;
    top: 474px;
    left: 510px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip10 .tooltiptext10 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip10 .tooltiptext10::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip10:hover .tooltiptext10 {
    visibility: visible;
    opacity: 1;
}

.korobochka {
    width: 482px;
    height: 635px;
}

.korobochka__oblogka_title {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 100px;
    margin: 50px 0 0 19px;
    animation: proivlenie__vstavki 2s ease;
}

.korobochka__section__text1 {
    width: 1092px;
    height: 560px;
    margin: 138px auto -20px auto;
}

.korobochka__section__text2 {
    width: 1092px;
    height: 112px;
    margin: 120px auto;
}

.korobochka__section__text3 {
    width: 1092px;
    height: 252px;
    margin: 130px auto -30px auto;
}

.korobochka__section__text4 {
    width: 1092px;
    height: 112px;
    margin: 130px auto;
}

.korobochka__room__image {
    position: relative;
	width: 100%;
    width: 1092px;
    height: 830px;
    margin: -50px auto;
}

.korobochka__room {
    width: 1027px;
    height: 770px;
    margin: 25px 0px 0px 23px;
}

.korobochka__room__text {
    position: absolute;
    top: 200px;
    left: 40px; 
}

.tooltip4 {
    position: absolute;
    top: 207px;
    left: 866px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip4 .tooltiptext4 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip4 .tooltiptext4::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip4:hover .tooltiptext4 {
    visibility: visible;
    opacity: 1;
}

.tooltip5 {
    position: absolute;
    top: 127px;
    left: 620px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip5 .tooltiptext5 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip5 .tooltiptext5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip5:hover .tooltiptext5 {
    visibility: visible;
    opacity: 1;
}

.tooltip6 {
    position: absolute;
    top: 244px;
    left: 269px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip6 .tooltiptext6 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip6 .tooltiptext6::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip6:hover .tooltiptext6 {
    visibility: visible;
    opacity: 1;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: -100%;
  left: 0;
  width: 320px;
  height: 200px;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #b4a241;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.header__logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-left: 100px;
}

.header__logo1 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-left: 100px;
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 5px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #beb272;
}

/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 32px;
  left: 44px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  top: 0;
}

.menu__box {
  transition-duration: 1s;
}

.menu__item {
  transition-duration: .25s;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.burger {
    display: inline-block;
    vertical-align: top;
    margin: 0 18px;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Domine', serif;
    color: #344360;
    
    color: #fff;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nozdrev {
    width: 487px;
    height: 635px;
    margin: -25px auto;
}

.nozdrev__oblogka_title {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 100px;
    margin: 50px 0 0 109px;
    animation: proivlenie__vstavki 2s ease;
}

.nozdrev__section__text1 {
    width: 1092px;
    height: 281px;
    margin: 138px auto -20px auto;
}

.nozdrev__section__text2 {
    width: 1092px;
    height: 113px;
    margin: 120px auto;
}

.nozdrev__section__text3 {
    width: 1092px;
    height: 448px;
    margin: 130px auto -30px auto;
}

.nozdrev__section__text4 {
    width: 1092px;
    height: 196px;
    margin: 130px auto;
}

.nozdrev__room__image {
    position: relative;
	width: 100%;
    width: 1092px;
    height: 830px;
    margin: -50px auto;
}

.nozdrev__room {
    width: 1027px;
    height: 770px;
    margin: 25px 0px 0px 23px;
}

.nozdrev__room__text {
    position: absolute;
    top: 200px;
    left: 40px; 
}

.tooltip11 {
    position: absolute;
    top: 478px;
    left: 279px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip11 .tooltiptext11 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip11 .tooltiptext11::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip11:hover .tooltiptext11 {
    visibility: visible;
    opacity: 1;
}

.tooltip12 {
    position: absolute;
    top: 510px;
    left: 786px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip12 .tooltiptext12 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip12 .tooltiptext12::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip12:hover .tooltiptext12 {
    visibility: visible;
    opacity: 1;
}

.tooltip13 {
    position: absolute;
    top: 413px;
    left: 658px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip13 .tooltiptext13 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip13 .tooltiptext13::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip13:hover .tooltiptext13 {
    visibility: visible;
    opacity: 1;
}

.tooltip14 {
    position: absolute;
    top: 210px;
    left: 660px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip14 .tooltiptext14 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip14 .tooltiptext14::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip14:hover .tooltiptext14 {
    visibility: visible;
    opacity: 1;
}

.plushkin {
    width: 487px;
    height: 635px;
    margin: -5px auto;
}

.plushkin__oblogka_title {
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 100px;
    margin: 50px 0 0 42px;
    animation: proivlenie__vstavki 2s ease;
}

.plushkin__section__text1 {
    width: 1092px;
    height: 474px;
    margin: 138px auto -20px auto;
}

.plushkin__section__text2 {
    width: 1092px;
    height: 364px;
    margin: 120px auto;
}

.plushkin__section__text3 {
    width: 1092px;
    height: 280px;
    margin: 130px auto -30px auto;
}

.plushkin__section__text4 {
    width: 1092px;
    height: 392px;
    margin: 130px auto;
}

.plushkin__room__image {
    position: relative;
	width: 100%;
    width: 1092px;
    height: 830px;
    margin: -50px auto;
}

.plushkin__room {
    width: 1032px;
    height: 770px;
    margin: 25px 0px 0px 30px;
}

.plushkin__room__text {
    position: absolute;
    top: 200px;
    left: 40px; 
}

.tooltip15 {
    position: absolute;
    top: 226px;
    left: 866px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip15 .tooltiptext15 {
    visibility: hidden;
    width: 280px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -140px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip15 .tooltiptext15::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip15:hover .tooltiptext15 {
    visibility: visible;
    opacity: 1;
}

.tooltip16 {
    position: absolute;
    top: 708px;
    left: 260px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip16 .tooltiptext16 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip16 .tooltiptext16::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip16:hover .tooltiptext16 {
    visibility: visible;
    opacity: 1;
}

.tooltip17 {
    position: absolute;
    top: 545px;
    left: 973px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip17 .tooltiptext17 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip17 .tooltiptext17::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip17:hover .tooltiptext17 {
    visibility: visible;
    opacity: 1;
}

.tooltip18 {
    position: absolute;
    top: 521px;
    left: 167px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip18 .tooltiptext18 {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip18 .tooltiptext18::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip18:hover .tooltiptext18 {
    visibility: visible;
    opacity: 1;
}

.tooltip19 {
    position: absolute;
    top: 230px;
    left: 462px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip19 .tooltiptext19 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip19 .tooltiptext19::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip19:hover .tooltiptext19 {
    visibility: visible;
    opacity: 1;
}

.tooltip20 {
    position: absolute;
    top: 143px;
    left: 857px; 
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip20 .tooltiptext20 {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip20 .tooltiptext20::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip20:hover .tooltiptext20 {
    visibility: visible;
    opacity: 1;
}

.tooltip21 {
    position: absolute;
    top: 141px;
    left: 579px;  
    display: inline-block;
    background: #831111; /* Цвет фона */
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота */
    border-radius: 10px;
}

.tooltip21 .tooltiptext21 {
    visibility: hidden;
    width: 280px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -140px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-weight: 300;
}

.tooltip21 .tooltiptext21::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip21:hover .tooltiptext21 {
    visibility: visible;
    opacity: 1;
}

.mcko {
    color: #fff;
}